.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.login-form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
}
.login-form form{
  width: 400px;
  border: 1px solid rgba(68, 68, 68, 0.267);
  padding: 20px;
}
.login-form .ant-table{
  /* width: 80vw; */
  border: 1px solid rgba(68, 68, 68, 0.267);
}
.upper-container{
  display: flex;
  width: 80vw;
  justify-content: space-between;
}
.form-big form{
  width: 80vw;
}
.form-big .ant-table{
  width: 80vw;
}